.header{
/*	border: 1px solid red;*/
}

#page-title, #author, #github{
	display:inline;
}

#author {
	width: 50px;
}

#page-title{
	width:600px;
}
.page-top{
	display:inline;
}
.author-name{
	float:right;
	padding-right:10px;
}

#github.a{
	font-color:red;
}
